doctype html
html
  //- head
  //-   title= title
  //-   link(rel='stylesheet', href='/stylesheets/style.css')
  head(lang='ja')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title SkyWay Handson
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='//code.jquery.com/jquery-2.1.1.min.js')
    script(type='text/javascript', src='https://cdn.webrtc.ecl.ntt.com/skyway-latest.js')
    script(type='text/javascript', src='/javascripts/script.js')
  body
    block content


