extends layout

block content
    link(rel='stylesheet', href='/stylesheets/localStyle.css')
    .videosContainer
      video#myStream(autoplay='', muted='true')
    .myControllerContainer
      p
        | Your id:
        span#my-id ...
      .select
        label(for='audioSource') Audio input source:
        select#audioSource
      .select
        label(for='videoSource') Video source:
        select#videoSource
      form#make-call
        input#join-room(type='text', placeholder='Join room...')
        button(type='submit') Join
      #end-call
        p
          | Currently in room
          span#room-id ...
        button Leave
    #overlay
    #modalWindow
        | Gererate new Anamorphicon User
        .select
          label(for='addAnotherAudioSource') Audio input source:
          select#addAnotherAudioSource
        .select
          label(for='addAnotherVideoSource') Video source:
          select#addAnotherVideoSource
        p
        .preview
          label(for='streamPreview') Preview:
          video#streamPreview(autoplay='', muted='true')
        p
        br
        button#generate generate
        button#close Close
    script(type='text/javascript', src='/javascripts/localVideoChat.js')
